<% provide(:title, "Home") %>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/dwe3tzj9c/image/upload/q_100/v1545041503/5_dzlqat.jpg');">
  <div class="banner-content">
    <h1>Rouleurs - Grimpeurs - Sprinteurs </h1>
    <p>partager la route / partager l'expérience</p>
    <a class="btn-medium">reserver</a>
  </div>
</div>


<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dwe3tzj9c/image/upload/a_auto_left,q_100/v1542032104/IMG_0465_npdmqc.jpg');">

        <div class="card-description">
          <h2>Nos week-end / séjours</h2>
          <p>Anjou - Vosges - Franche-Comté</p>
        </div>
        <a class="card-link" <%= link_to "", voyages_path %></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dwe3tzj9c/image/upload/q_100/v1545040906/Version_Vital_CC_fndwid.jpg');">

        <div class="card-description">
          <h2>Stage Performances Glaz</h2>
          <p> devenez stagiaire du Vital Concept B&B cycling Club</p>
        </div>

        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">

      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dwe3tzj9c/image/upload/q_100/v1545041465/1_xra5cf.jpg');">

  <div class="card-description">
    <h2>Tirages photo</h2>
    <p> les plus belles courses </p>
  </div>
  <a class="card-link" href="#" ></a>
</div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dwe3tzj9c/image/upload/v1545043369/Capture_d_e%CC%81cran_2018-11-28_a%CC%80_19.44.27_-_copie_xduk7z.png');">

          <div class="card-description">
            <h2>Prints </h2>
            <p>cycliste : un art de vivre </p>
          </div>

          <a class="card-link" href="#" ></a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dwe3tzj9c/image/upload/a_auto_left,c_crop,q_auto:best,w_2078/v1542032104/IMG_0465_npdmqc.jpg');">
            <div class="card-description">
              <h2>Vélos customs / occasions</h2>
              <p>les meilleurs cadres "old timers" au gout du jour</p>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dwe3tzj9c/image/upload/a_auto_left,c_crop,q_auto:best,w_2078/v1542032104/IMG_0465_npdmqc.jpg');">

            <div class="card-description">
              <h2>Au féminin </h2>
              <p>stages et séjours</p>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
    </div>

  </div>
</div>
